body{
    margin-left: 15px;
}

#testingP{
    width: 100px;
}
.end-5{
    margin-right: 5%;
}
.width-80{
    display: flex;
    width: 80%;
}
.charName{
    font-size: large;
    /* color: yellowgreen; */
}